services:
  postgres:
    image: postgres:16-alpine
    container_name: projectmanagement-postgres
    environment:
      POSTGRES_DB: requirements
      POSTGRES_USER: requirements
      POSTGRES_PASSWORD: requirements
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
